modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "IBEKS USERBOT"

[[workflows.workflow]]
name = "IBEKS USERBOT"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd userbot && python main.py"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
STRING_SESSION = "BQJfSLkAwxnD7RLcInJZ6z76-8690hdbU2nzUsjp0EdZLgDh_6daBsXcExeFnd9ZHIa8RJLOeCwnfvwka9ipmdc9wR8oKMNS4ORhj01Pc7g8aEvo9YSg2Os2Gc1oXdB997ZuBi3Fq79hVudaFv08HmkWNIXnK8NupvcrRPrrZ2IB1rJvUK3ChOL69imKhVfrnsLUNGfmU4uDfVl7pOMgmdq_4ORVPqcorPbRbanOzweiFWkmhv-vYBKNsf4skCN9f7XGJm3LOq9Ry2t-f3TUe87zmuxO8mMNoUDA7gey8f1jyji6lJRQT0HW1qO1OVYQBiDivtVCJxXYQlaye6M06W0AfyLVSgAAAAIN5tQMAA"
